:root {
    --primary-background-color: #FFFFFF;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-hover-color: #188CE8;
    --text-color: #757575;
    --text-button-color: #FFFFFF;
    --background-button-color: #F5F4FA;
    --background-fon-color: #2F303A;
    --fill-icon-color: #afb1b8;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);   
}
body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--primary-background-color);
    color: var(--text-color);
}
 
/*Основной цвет фона #E5E5E5;*/
/*Второй цвет фона #F5F4FA;*/
/*Третий цвет фона #2F303A;*/
/*Цвет Н1 #FFFFFF*/
/*Цвет Н3 #212121*/
/*Цвет текста #757575*/
/*Акцент #2196F3;*/

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/*container*/

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
        
}

.accent {
    color: var(--title-text-color);
}

/*Header*/
.main-nav {
    display: flex;
    align-items: center;
}

.page-header__container {
    display: flex;
    align-items: center;
}
.page-header {
    border-bottom: 1px solid #ECECEC;
}

/*Logo*/
.logo {
    margin-right: 93px;

    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

/*Site nav*/
.site-nav {
    display: flex;    
}

/*.site-nav .item:not(:last-child) {
   margin-right:  50px;
}*/

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav__link {
    display: block;
    padding: 32px 0;
           
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}
.site-nav__link--current {
    color: var(--accent-color);
    position: relative;
}

.site-nav__link--current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    /*transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

/*Contact nav*/

.contact-nav {
    display: flex;
    margin-left: auto;
}

.contact-nav .item + .item {
    margin-left: 50px;
}

.contact-nav__link {
    display: flex;
    align-items: center;

    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__link:hover,
.contact-nav__link:focus {
    color: var(--accent-color);
}

.contact-nav__icon {
    fill: currentColor;
    margin-right: 10px;
}

/*Hero*/
.hero {
    padding: 200px 0;
    text-align: center;
    background-color: var(--background-fon-color);
}

.hero__title { 
    margin-top: 0px;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*Section*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*Features*/
.features__list {
    display: flex;
}

.hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin-top: -1px;
    margin-bottom: 0;
        /*display: none;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 0;*/
}

.features__title {
    margin-top: 0px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.features__list .item {
    width: 270px;
    margin-right: 30px;
}
.features__list .item:nth-child(4) {
    margin-right: 0;
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-color);

    font-size: 14px;
    line-height: 1.7;
}

.features {
    background-color: #F5F4FA;
    height: 120px;
    border-radius: 4px;
    outline: 1px solid #F5F4FA;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__icon {
    width: 70px;
    height: 70px;
}

/*.features-list .item::before {
    display: block;
    content: "";
    height: 120px;
    outline: 1px solid #F5F4FA;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-antenna::before {
    background-image: url("../images/icons.svg/antenna.svg");
}
.icon-clock::before {
    background-image: url("../images/icons.svg/clock.svg");
}
.icon-diagram::before {
    background-image: url("../images/icons.svg/diagram.svg");
}
.icon-astronaut::before {
    background-image: url("../images/icons.svg/astronaut.svg");
}*/

/*Work*/
.work-section{
    padding-top: 0;
    padding-bottom: 94px;
}
.work-section__list {
    display: flex;
}

/*.work-list .link {
    display: inline-block;
}*/
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.work-section__list .item {
    width: 370px;
    margin-right: 30px;
}
.work-section__list .item:nth-child(3) {
    margin-right: 0;
}

.wrapper {
    position: relative;
    overflow: hidden;
}
.wrapper__label {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}
.wrapper__text {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   margin: 0;
}

/*Team*/

.team-section {
    background-color:  #F5F4FA;
    padding: 94px 0;
}

.team-section__list {
    display: flex;
}
.team-section__list .item {
    display: inline-block;
    width: 270px;
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-section__list .item:nth-child(4) {
    margin-right: 0;
}
/*.team-list .link{
    display: inline-block;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;}*/

.team-section__box {
  padding: 30px 0;
  background-color: var(--primary-background-color);
}

.section-title {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 50px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.team-section__title {
   margin-top: 0;
   margin-bottom: 0;
   margin-bottom: 10px;
   text-align: center;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.team-section__text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--text-color);
    text-align: center;

    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 16px;
}
.social-icons {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.social-icons__social-icon {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.social-icons__social-icon:nth-child(4) {
    margin-right: 0;
}
.social-icons__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: var(--fill-icon-color); 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover, 
.social-icons__link:focus {
    fill: var(--text-button-color);
    background-color: var(--accent-color);
}

/*Client*/
.client-list {
    display: flex;
}

.client__link {
    display: flex;
    border: 1px solid #AFB1B8;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: var(--fill-icon-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list .item {
    margin-right: 30px;
    width: 170px;
    height: 92px;
}

.client-list .item:nth-child(6) {
    margin-right: 0;
}

.client__icon {
    width: 106px;
    height: 60px;
}
.client__link:hover,
.client__link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

/*button*/
.button {
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    border: 1px solid transparent;

    background-color: var(--accent-color);
    color: var(--text-button-color);
    font-family: inherit;
    cursor: pointer;   
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
            

.button.primary {
    background-color: var(--background-button-color);
    color: var(--title-text-color);
}
.button.secondary {
    background-color: var(--accent-color);
    color: var(--text-button-color);
    
    border-radius: 4px;
}

.hero .button {
    min-width: 200px;
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--text-button-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}

.hero .button:hover,
.hero .button:focus {
    background-color: var(--background-hover-color);
    color: var(--text-button-color);
}

/*Portfolio*/

.card__title {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 4px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card__text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-color);   
    font-size: 16px;
    line-height: 1.9;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;    
}

.variant {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px; 
}
 /*.variant:not(nth-child(3n)) {
    margin-right: 0px;}
  .variant:not(nth-last-child(-n+3)) {
    margin-bottom: 0px;}
    
    /*width: calc((100%-60px)/3;*/

.variant:nth-child(3n) {
    margin-right: 0;
}

.variant:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.card__text-box {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left:  1px solid #EEEEEE;
}

.variant__link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.variant__link:hover,
.variant__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.button {
    padding: 6px 22px;
    min-width: 73px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.portfolio-button .item + .item {
    margin-left: 8px;
}

.portfolio-button .button:hover,
.portfolio-button .button:focus {
    background-color: var(--accent-color);
    color: var(--text-button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;    
}

.card {
    position: absolute;
    width: 370px;
    height: 294px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 0px;
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.thumb {
    position: relative;
}
.thumb::before {
    position: absolute;
    content: "";
    display: inline-block;
    background: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    opacity: 0;  
}*/
.variant__link:hover .card,
.variant__link:hover .card {
    opacity: 1;
    transform: translateY(0);
}

.card__text-wrapper {
   font-weight: 400;
   font-size: 18px;
   line-height: 1.56;
   color: var(--text-button-color);
   margin: 0;
   padding: 0 24px;
}

/*Backdrop*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

/*Modal*/
.modal {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: var(--primary-background-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    border: 1px solid;
    color: rgba(0, 0, 0, 0.1);
    background-color: var(--primary-background-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.close-button:hover,
.close-button:focus {
    fill: var(--accent-color);
}

.form {
    padding: 40px;
}

.call {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--title-text-color);
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    /*outline: 1px solid rgba(33, 33, 33, 0.2);*/
    margin-bottom: 10px;
    color: #757575;
}

.form-field:nth-child(5) {
    margin-bottom:  20px;
}

.form-field label, textarea {
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 4px;
}

.form-field input, textarea {
    margin: 0;
    padding: 14px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
}

.form-field textarea {
    padding: 12px 16px; 
    resize: none;
}

.form-field textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
    position: absolute;
    top: 55%;
    left: 20px;
    transform: translateX(-50%);
    display: inline-block;     
}

.form-field:focus-within > .modal-icon {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.form-input:focus ~ .modal-icon {
    fill: var(--accent-color);
}*/

.form-input:focus {
    border-color:  var(--accent-color);
    transition: border-colorr 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Check*/

.checkbox {
    position: absolute;
    width: 1;
    height: 1;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    
    /*-webkit-appearance: none;
    appearance: none;
    position: absolute;*/
}

.chech {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid transparent;
    font-size: 14px;
    line-height: 1.7;
    color: #757575;
    margin-bottom: 30px;
    cursor: pointer;
}

.chech-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border:2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 12px;
}


.checkbox:checked + .chech-icon {
    border-color: transparent;
    background-color: var(--accent-color);
    background-image: url('../images/icons.svg/icon-checks.svg');
    background-size: contain;
    background-origin: border-box;
}
.chech-link {
    color: var(--accent-color);
 }

.modal-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Footer*/
.footer__container {
    display: flex;
    align-items: baseline;
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-fon-color);

    color: var(--text-button-color);
    font-size: 14px;
    line-height: 1.7;
}

.footer__logo {
    margin-right: 0;
}
address {
    margin-top: 20px;
}

.footer__list .link  {
    display: block;
    
    color: var(--text-button-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.footer__list .item:not(:last-child) {
    margin-bottom: 9px;
  }

/*.footer__contact {

    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}*/

.footer__list .link:hover,
.footer__list .link:focus {
    color: var(--accent-color);
}

.footer__logo--accent {
    color: var(--text-button-color);
}

/*Footer-contact*/
.footer__contact {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    flex-grow: id;
    margin-right: 70px;
}

.footer-social {
    margin-right: 93px;
}
.social-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.social-icons__link {
    background-color: rgba(255, 255, 255, 0.1);
}

/*.footer-form-field {
    margin-right: 12px;
}*/

.footer-form-input {
    width: 358px;
    margin: 0;
    padding: 15px 16px;
    background-color: var(--background-fon-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-right: 12px;
}

.footer-form-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.submit-button, .modal-button { 
    min-width: 200px;
    padding: 10px 29px;
    border: 1px solid transparent;
    background-color: var(--accent-color);
    color: var(--text-button-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.06em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.submit-button {
    display: inline-flex;
    align-items: center;
}

.submit-button::after {
    content: '';
    width: 24px;
    height: 24px;    
    background-image: url('../images/icons.svg/mecedj.svg');
    background-size: contain;
    margin-left: 10px;
}

.submit-button:hover,
.submit-button:focus {
    background-color: var(--background-hover-color);
    color: var(--text-button-color);
}