/*Work*/
.section--no-padding-top{
    padding-top: 0;
    padding-bottom: 94px;
}
.works {
    display: flex;

    & .works__item {
        width: 370px;
        margin-right: 30px;
    
        &:nth-child(3) {
            margin-right: 0;
        }
    }
}

/*.work-list .link {
    display: inline-block;
}*/
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    position: relative;
    overflow: hidden;
}
.works__box {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}
.works__text {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   margin: 0;
}
